body{
    padding: 2% 10% ;
    height:90vh;
    width: auto;
    background-image: url(/Images/nza_background.jpg);
    background-position: center;
}

.container{
    padding-bottom: 1%;
    height: inherit;
    background-color: white;
    width: auto;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 18% 7% 70% 5%;
    grid-template-areas:
    "header1 header1 header1"
    "header_nav header_nav  header_nav"
    "sidebar_left body sidebar_right"
    "footer footer footer" ;
}

/* Header Begins Here */

.header1{display: flex;
    grid-area:header1;
    margin:0 auto 10px auto;
    width: 90%;
    justify-content: space-between;
}

#loginbutton{ 
    float: right;
    align-self: end;
    height: 40px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;   
}

#sampleimage{display: inline-flex;
    grid-area: header1;
    height: 75px;
    width: 300px;
    align-self:flex-end;
    
}


/* Nav Bar Begins Here */

.header_nav{
    display: flex;
    grid-area:header_nav;
    width: 90%;
    margin: auto auto;
    padding: 15px 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.header_nav>span{
    font-size: 15px;
}

.header_nav>a{
    margin: auto auto;
    font-size: large;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* Side Bar Left Begins Here */

.sidebar_left {
    grid-area:sidebar_left;
    padding: 10px;
    margin: 10px 0 10px 50px;
    height: fit-content;
    color: white;
    background-color: rgb(153, 23, 45);
    justify-content: center;
    border-bottom: 1px black;
}

div>h2{
    border-bottom: 3px solid white;
}

#folderpen{
    border: 2px white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#classright{
    font-size: 20px;
}

/* Side Bar Right Begins Here */

.sidebar_right {
    grid-area:sidebar_right;
    padding: 10px;
    margin: 10px 80px 10px 0;
    color: maroon;
    height: fit-content;
    background-color: rgb(219, 212, 201);
    justify-content: center;
    border-bottom: 1px black;
}

#where_we_work{
    font-weight: bold;
}

#whereimage{
    border: 2px solid black;
    grid-area: sidebar_right;
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 20%;
}

#news_and_events{
    border: 1px solid black;
    grid-area: sidebar_right;
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: 85%;
    height: 20%;
}

#news{
    color: black;
}

/* Body Begins Here */

.body{
    grid-area: body;
    width: 100%;
    height: 80%;
    margin: 10px 10px;
    line-height: 15px;
}

#rotaryphone{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 200px;
    margin-bottom: 10px;
   
}

#office_hours,#street_address,#suitenumber,#city,#phonenumber,#faxnumber,#email{
    font-size: 18px;
    margin-left: 10px;
}

/* Footer Begins Here */

.footer{
    grid-area: footer;
    display: flex;
    width: 90%;
    margin: 0 auto;
    border-top: 2px solid black;
    
}

.center{display: flex;
    width:fit-content;
    margin: .5% auto; 
}

.center>a{
    text-decoration: none;
    font-size: large;
    margin: auto 35px;
    color: black;
    
}

.center>span{
    font-size: larger;
    color:gray;
    margin-top: 2px;
}

