.container{
    padding: 75px;
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 15% 10% 65% 10%;
    grid-template-areas:
    "mainheader mainheader mainheader mainheader mainheader"
    "nav_bar nav_bar nav_bar nav_bar nav_bar"
    "sidebar body body body body"
    "footer footer footer footer footer" ;
}

/* Start of Main Header Bar */

.mainheader{
    grid-area:mainheader;
    margin-left: 25px;
}

#loginbutton{
    float: right;
    margin-right: 50px;
}

#logoimage{
    position: relative;
    grid-area: mainheader;
    margin-top: 1vw;
}

/* End of Main Header Bar */

/* Start of Main Header Navigation Links */

.nav_bar{
    margin: auto;
    grid-area: nav_bar;
    padding-top: 10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.mainheader a{
    margin: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* End of Main Header Navigation Links */

/* Start of Left Side Bar for What We Do */

.sidebar {
    grid-area:sidebar;
    padding: 10px;
    color: white;
    background-color: rgb(153, 23, 45);
    justify-content: center;
    border-bottom: 1px black;
}

div>h2{
    border-bottom: 3px solid white;
}

#folderpen{
    border: 2px white;
    margin-left: auto;
    margin-right: auto;
}

#classright{
    font-size: 20px;
}

/* End of Left Side Bar for What We Do */

/* Start of Main Four Quandrant Pictures */

.body{
    grid-area:body;
    padding: 10px;
    border-bottom: 1px black;
}

#Subrogation{
    grid-area: body;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#Litigation{
    grid-area: body;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#Business{
    grid-area: body;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#Transportation{
    grid-area: body;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/* End of Main Four Quandrant Pictures */

/* Start of Footer */

.footer{
    grid-area:footer;
    margin: auto auto;
    padding-top: 1vw;
    border-top: 3px solid black;}

.footer a{
    margin}

/* End of Footer */