body{
    padding: 2% 10% ;
    height:90vh;
    width: auto;
    background-image: url(/Images/nza_background.jpg);
    background-position: center;
}



.container{
    background-color: white;
    height:inherit;
    width: auto;
    padding: 7%;
    padding-bottom: 20%;
 /* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓   CSS GRID   ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 15% 5% 78% 25% 10%;
    grid-template-areas:
    "header1 header1 header1 header1 header1"
    "header_nav header_nav header_nav header_nav header_nav"
    "body body body sidebar_right sidebar_right"
    "footer footer footer sidebar_text sidebar_text"
    "foot_bar foot_bar foot_bar foot_bar foot_bar"
    
}
.header_nav,.sidebar_right,{border: 2px solid black;}

/* Delete or Add as needed */
.header1{
    grid-area: header1;
}

.logo-img{
    padding-bottom: 20%;

}

.header_nav{
    grid-area:header_nav;
    display: block;
    background-color: white;

}

.navbar {
    display: flex;

}

.navlink {
    text-decoration: none;
    color: black;
    padding: 1vw;
    font-size: medium;
}

.body{
    grid-area:body;
    margin-top: 50px;
    
}

.responsive{
    max-width: 100%;
    height: auto;
}

.sidebar_right {
    grid-area:sidebar_right;
    background-color: hsl(14, 82%, 26%);
    color: white ;
    overflow-y: auto;
    margin: 20px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: small;
}

.newsfeed {
    text-decoration: underline;  
}


/* FOOTER NAV */
.footer{
    grid-area:footer;
    padding-top: px;
    
}

.welcome {
    font-size: smaller;
}

h5 {
    font-size: small;
}

.address {
    font-size: smaller;
}
.list{
    display: inline;
    margin: vw;
    font-size: 3vh;
    padding-left: 60px
}

.footbar {
    grid-area:footbar;
}

.footlink {
    display: inline-flex;
}

