.container{
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 7% 80% 3%;
    grid-template-areas:
    "header1 header1 header1 header1 header1"
    "header-nav header-nav header-nav header-nav header-nav"
    "                  "
    "footer footer footer footer footer" ;
}