body{
    padding: 2% 10% ;
    height:90vh;
    width: auto;
    background-image: url(/Images/nza_background.jpg);
    background-position: center;
}


.container{
    padding-bottom: 1%;
    background-color: white;
    height:inherit;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
 /* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓   CSS GRID   ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 18% 7% 70% 5%;
    grid-template-areas:
    "header1 header1 header1 header1 header1"
    /*↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Modify  as needed ↓↓↓↓↓↓↓↓↓↓↓↓ */
    "header_nav header_nav header_nav header_nav header_nav"
    "sidebar body body body body"
    "footer footer footer footer footer" ;
}

/* Header Begins Here */

.header1{display: flex;
    grid-area:header1;
    margin:0 auto 10px auto;
    width: 90%;
    justify-content: space-between;
}

#loginbutton{ 
    float: right;
    align-self: end;
    height: 40px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;   
}

#sampleimage{display: inline-flex;
    grid-area: header1;
    height: 75px;
    width: 300px;
    align-self:flex-end;
    
}

/* Nav Bar Begins Here */

.header_nav{
    display: flex;
    grid-area:header_nav;
    width: 90%;
    margin: auto auto;
    padding: 15px 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.header_nav>span{
    font-size: 15px;
}

.header_nav>a{
    margin: auto auto;
    font-size: large;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


/* FOOTER NAV */
.footer{
    grid-area:footer;
    display: flex;
    width: 90%;
    margin: 0 auto;
    border-top: 2px solid black;
    
}

.center{display: flex;
    width:fit-content;
    margin: .5% auto;
   
    
}

.center>a{
    text-decoration: none;
    font-size: large;
    margin: auto 35px;
    color: black;
    
}

.center>span{
    font-size: larger;
    color:gray;
    margin-top: 2px;
}

/* Start of Left Side Bar for What We Do */

.sidebar_left{
    grid-area:sidebar;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 50px;
    background-color: rgb(153, 23, 45);
    justify-content: center;
    border-bottom: 1px black;
}

div>h2{
    border-bottom: 3px solid white;
}

#folderpen{
    border: 2px white;
    margin-left: auto;
    margin-right: auto;
}

#classright{
    font-size: 20px;
}

/* End of Left Side Bar for What We Do */

/* Start of Main Four Quandrant Pictures */

.body{
    grid-area:body;
    padding: 10px;
    border-bottom: 1px black;
}

#Subrogation{
    grid-area: body;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#Litigation{
    grid-area: body;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#Business{
    grid-area: body;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#Transportation{
    grid-area: body;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/* End of Main Four Quandrant Pictures */

